.sub-navigation {
    background: #f0f0f0;
    padding: 20px 10px 10px 10px;


}

.select{
    padding: 0px 15px;
    background: #fff;
    border: solid 1px #acacac;
    border-radius: 5px;
    color: #434343;
    display: inline-block;
    &_big {
         height: 40px;
        line-height: 40px;
     }
}
.srelect_wrap {
    display: inline-block;
}

.navigation-tab {
    display: inline-block;
    margin: 0 15px;
    border-radius: 5px;
    border: solid 1px #acacac;

    &__item {
        padding: 0px 15px;
        background: #fff;
        border-left: solid 1px #acacac;
        color: #434343;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
    }
    &__item:first-child {
         border-top-left-radius: 5px;
         border-bottom-left-radius: 5px;
         border-left: 0;
    }
    &__item:last-child {
         border-top-right-radius: 5px;
         border-bottom-right-radius: 5px;
    }
    &__item_active {
        background: #4688f1;
    color: #fff;
    }
    &__category-data {
        font-weight: bold;
    }
}

.menu-burger {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    cursor: pointer;
    &_right {

     }
    &__img {
        max-width: 100%;
    }


}
.menu-container {
    position: relative;
    &_right {
         float: right;

    }

}
.clearfix {
    clear: both;
}
.sidebar-menu {

    position: absolute;
    background: #f9f9f9;
    width: 390px;


    top: -40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    padding: 20px 10px 15px 10px;
    height: auto;
    transition: 0.5s;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    &_right {
         right: -440px;
    }
    &_open {
         right: -15px;

    }
    &__header {
        border-bottom: 1px solid #e3e2e2;
        padding-bottom: 25px;
        padding-left: 10px;
        margin: 10px 0 35px 0;


    }
    &__hide {
        position: absolute;
        top: 25px;
        right: 15px;
        width: 15px;
        height: 15px;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
        opacity: 1;
        padding: 5px;
        &:hover {
             opacity: 0.6;
        }
        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 15px;
            width: 2px;
            background-color: #434343;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__headline {
        font-size: 1.4rem;
        font-weight: bold;
        color: #434343;

    }


}
.sidebar-subtitle {
    margin: 10px 0 8px 0;
    color: #434343;
    &__day {
         font-size: 1rem;
         color: #434343;
         padding-left: 8px;

    }
    &__date {
        font-size: 1rem;
        color: #434343;
        display: inline-block;

    }
    &__date_right {
        float: right;
    }
}


.task-card {
    padding: 5px;
    background: #fff;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    margin: 5px 0;
    &:hover {
         box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     }

    &__your-time {
        width: 100%;
        display: block;
        padding-bottom: 30px;
        font-size: 1rem;
        color: #292929;
    }
    &__client-time-headline {
        color: #9a9a9a;
         display: block;
         padding-bottom: 5px;

    }
    &__client-time {
        font-size: 1rem;
        display: block;
         color: #292929;
    }
    &__separator {

    }
    &__headline {
        text-overflow: ellipsis;
        display: block;
        padding-bottom: 32px;
        color: #434343;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: bold;
        margin-top: 8px;
        &:hover {
            text-decoration: none;
        }

    }
    &__customer {
        color: #2d78ef;
         text-decoration: none;
        &:hover {
             text-decoration: underline;
        }
     }
    &__is-done {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: #007e18;
        font-size: 1.7rem;

    }
    &__left-container {

        padding: 8px;
        border-right: solid 1px #f4f4f4;
        flex-basis: 75px;
        flex-direction: column;
    }
    &__right-container {
        padding-left: 20px;
         flex: 2;
         flex-direction: column;
        position: relative;
    }

}